In [ ]:
pip install sympy

In [ ]:
pip install pandas

In [ ]:
pip install numpy

In [29]:
import pandas as pd
import numpy as np
import sympy as sp

In [9]:
estados = ("Acre","Pará","Paraná","Amazonas","Ceará","Sergipe")

In [36]:
estado_fora = list(estados)
estado_fora[3] = "Mato Grosso"
estado_novo = tuple(estado_fora)
estado_novo

('Acre', 'Pará', 'Paraná', 'Mato Grosso', 'Ceará', 'Sergipe')

In [10]:
estados_brasil = ("São Paulo","Rio de Janeiro")

In [24]:
list(estados)

['Acre', 'Pará', 'Paraná', 'Amazonas', 'Ceará', 'Sergipe']

In [42]:
np.array(estado_novo)
np.array(estados_brasil)
tupla_final = np.concatenate([estado_novo,estados_brasil])

In [43]:
tuple(tupla_final)

('Acre',
 'Pará',
 'Paraná',
 'Mato Grosso',
 'Ceará',
 'Sergipe',
 'São Paulo',
 'Rio de Janeiro')

In [46]:
def calculo():
    x = int(input("Qual o valor de x?"))
    return (10*x**2 + 5*x - 2)

In [49]:
calculo()

103

In [50]:
def calculos():
    x = int(input("Qual o valor de x?"))
    y = int(input("Qual o valor de y?"))
    m = int(input("Qual o valor de m?"))
    a = int(input("Qual o valor de a?"))

    print((10 * x **2 + 5 * x - 2))
    print((m * a))
    print((y**3 + 10*y**2 - 5*y + 10))

In [51]:
calculos()

15
2
16

In [78]:
vendas = {
    "banana": [100],
    "maçã": [150],
    "melancia": [40],
    "pera": [120],
    "morango": [250],
    "melão": [53] 
}
df = pd.DataFrame(vendas)
df

   banana  maçã  melancia  pera  morango  melão
0     100   150        40   120      250     53

In [79]:
maior_venda = df.max().idxmax()
maior_venda

'morango'

In [85]:
gasolina =

array({'1': 3.5, '2': 3.55, '3': 3.48, '4': 3.6, '5': 3.65, '6': 3.7, '7': 3.68, '8': 3.75, '9': 3.8, '10': 3.78},
      dtype=object)

In [ ]:
for i in range(len(frutas)):
    if  == max()